<div class="center-align">
    <h4>Library</h4>
</div>


<br> <br>

<div class="library">
    <% albums.forEach(album => { %>
        <div class="album">
            <div class='z-depth-4'>
                <img src=<%=album.dataValues.pictureUrl%> width='220px' height='220px'>
            </div>
            <div class="options">
                <a class="waves-effect waves-teal btn-small" href="/album/?id=<%=`${album.dataValues.spotify}`%>">Info</a>
                <br>
                <form method="POST" action="/album/<%=album.dataValues.name%>/?_method=DELETE">
                    <button class="btn-small waves-effect waves-light" type="submit" name="action">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    <% }) %> 
</div>





