body {
    background-color: #424242;
    position: relative;
    width: 100vw;
    height: 100vh;
    color: white;
    font-family: 'Cousine';
}

.btn {
    background-color: #66bb6a;
}

.login {
    position: absolute;
    top: 40%;
    width: 60%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 12px;
    justify-content: center;
}

.albumResults, .artistResults {
    display: flex;
    flex-wrap: wrap;
}

.options {
    display: flex;
    justify-content: space-around;
}

.library {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.album {
    padding: 20px;
}

.imageBox {
    padding-top: 100px;
}

.track {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.playlists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.edit-form {
    display: flex;
    justify-content: space-between;
}
